# {{crate}}
	{#- #} [![License 0BSD](https://img.shields.io/badge/license-0BSD-blue.svg)](https://choosealicense.com/licenses/0bsd/)
	{#- #} [![GitHub](https://img.shields.io/badge/Code-On%20Github-blue?logo=GitHub)]({{repository}})

{{readme}}

## License

Licensed under the [BSD Zero Clause License](./LICENSE).

Unless you explicitly state otherwise, any contribution intentionally submitted for inclusion in this crate
by you, as defined in the [Apache License, Version 2.0](https://apache.org/licenses/LICENSE-2.0.txt), shall
be licensed as above, without any additional terms or conditions.

{%- if links != "" %}

{{ links }}
{%- endif -%}
